.graph {
    -fx-background-color: #F4FFFB;
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside; /* you should keep this for vertex.radius to hold */
    -fx-fill: #B1DFF7;
}

.vertex-label {
    -fx-font: bold 15pt "sans-serif";
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: black;
    -fx-fill: transparent;
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-disable{
    -fx-stroke-dash-array: 2 5 2 5;
}

.locatedEdge{
    -fx-stroke-width: 14;
}

.locatedVertex{
    -fx-stroke-width: 14;
}

.edge-label {
    -fx-font: normal 12pt "sans-serif";
}

.edge-label-green{
    -fx-stroke: purple;
}

.edge-label-blue{
    -fx-stroke: blue;
}

.edge-label-red{
    -fx-stroke: green;
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: black;
    -fx-opacity: 0.8;
}

/* Custom vertex. You should revert any unwanted styling in the default element,
   style, since custom styles will be appended to the default style */
.myVertex {
    -fx-stroke-width: 5;
    -fx-stroke: green;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: yellowgreen;
}